body {
    background-color: #FFF;
    
    font-family: Verdana;    
    color: #444;    
}

#contenedor {
    width: 70%;
    margin: auto;
    background-color: #F0F5F5;
    overflow: hidden;
}

#contenedorTitulo {
    position: relative;
    float: left;
    width: 100%;    
    background-color: #FFF;
}

#contenedorProductos {
    position: relative;
    float: left;
    padding: 20px;
    width: 40%;
    background-color: #F0F5F5;
    
}

#contenedorCarrito {
    float: right;
    padding: 20px;
    width: 40%;
    background-color: #F0F5F5;
    
}

img[class="border"] {
    border: 2px solid #999;
}
